.message {
    font-size: 16px;
    height: auto;
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow: hidden;
    border-top-right-radius: 20px;
}

.message__author {
    font-weight: 300;
}

.message__media-section {
    display: inline-flex;
    flex-direction: row-reverse;
    align-self: flex-start;
}

.message_own {
    text-align: right;
    padding: 10px 10px 10px 0;
}

.message_own .message__media-section {
    align-self: flex-end;
    flex-direction: row;
}

.message__reply-on_static {
    color: greenyellow;
}
